* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  padding: 10px;
  margin: 50px 20px ;
}
.parent .clear {
  clear: both;

}
.parent .child {
  float: left;
  margin-left: 20px;
  width: calc((100% - 80px) / 3);
  background: rgb(228, 226, 222);
  border: 2px solid;
}
.child h3 {
  border: 2px solid;
  text-align: center;
  padding: 5px 20px;
  width: 150px;
  margin-left: auto;
  font-size: 30px;
}
.child > p {
  padding: 10px;
  font-size: 20px;
}
.first > h3 {
  background: rgb(235, 110, 60);
}
.second > h3 {
  background: rgb(47, 207, 87);
}
.third > h3 {
  background: rgb(65, 105, 236);
}
@media (min-width: 768px) and (max-width: 991px){
  .parent .first, .parent .second {
    width: calc((100% - 60px) / 2);
  }
  .parent .third {
    width: calc((100% - 40px) / 1);
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .parent .child {
    width: calc((100% - 40px) / 1);
    margin-bottom: 10px;
  }
}
h1 {
  text-align: center;
}